<style>
    #roleAuthTable + .layui-table-view .layui-table tbody tr:hover {
        background-color: transparent;
    }
    #LAY_layedit_1 img {
        width: 100%;
    }
</style>

<!--搜索-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-inline">
                    <select name="status" id="status">
                        <option value="">请选择状态</option>
                        <option value="待审核">待审核</option>
                        <option value="审核通过">审核通过</option>
                        <option value="审核未通过">审核未通过</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input id="title" class="layui-input" type="text" placeholder="输入标题"/>
                </div>
                <div class="layui-inline">
                    <button id="newsBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    <button id="newsBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                </div>
            </div>
        </div>
        <table class="layui-table" id="newsTable" lay-filter="newsTable"></table>
    </div>
</div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="newsTableBar">
    <a class="layui-btn layui-icon layui-btn-xs {{d.status=='待审核'?'':'layui-btn-disabled'}}  {{d.permission==true?'':'layui-hide'}} {{d.permission}}" lay-event="audit">审核</a>
    <a id="edit" class="layui-btn layui-btn-primary layui-btn-xs {{d.status!='审核通过'?'':'layui-btn-disabled'}}"
       lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="newsForm">
    <form lay-filter="newsForm" class="layui-form model-form">
        <input type="hidden" name="type" id="type"/>
        <input id="id" name="id" type="hidden" value=""/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input name="title" placeholder="请输入标题" type="text" class="layui-input" maxlength="200"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入内容" lay-verify="content" class="layui-textarea"
                          id="layeditDemo" maxlength="200"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新闻来源</label>
            <div class="layui-input-block">
                <input name="copyFrom" placeholder="请输入新闻来源" type="text" class="layui-input" maxlength="200"
                       lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remarks" placeholder="请输入备注" class="layui-textarea" maxlength="200"></textarea>
            </div>
        </div>

        <div class="layui-hide text-right" id="audit">
            <button class="layui-btn" lay-filter="newsSuccess" lay-submit>审核通过</button>
            <button class="layui-btn layui-btn-primary" lay-filter="newsFalse" lay-submit>审核失败</button>
        </div>
        <div class="layui-hide text-right" id="update">
            <button class="layui-btn" lay-filter="newsFormSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config', 'tableX', 'richText', 'layedit'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;
        var tableX = layui.tableX;
        var richText = layui.richText;
        var layedit = layui.layedit;
        var router = layui.router();
        //渲染表格
        table.render({
            elem: '#newsTable',
            url: config.base_server + 'news',
            where: {
                access_token: config.getToken(),
                type:router.search.type//获取请求路径的参数值
            },
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers',title: '序号',width:80},
                {field: 'id', title: 'id', hide: "true"},
                {field: 'title', title: '标题',sort:'true'},
                {field: 'type', title: '新闻类型',hide: "true"},
                {field: 'createTime', title: '创建日期',sort:'true'},
                {field: 'approveBy', title: '审核人',sort:'true'},
                {field: 'status', title: '审核状态',sort:'true'},
                {align: 'center', toolbar: '#newsTableBar', title: '操作', minWidth: 200}
            ]]
        });
        layui.form.render();
        // 添加按钮点击事件
        $('#newsBtnAdd').click(function () {
            showAddModel();
            $('#update').removeClass('layui-hide');
        });
        //审核成功按钮
        $('#newsSuccess').click(function () {
            showAuditModel();
        });
        //审核失败按钮
        $('#newsFalse').click(function () {
            showAuditModel();
        });
        // 搜索按钮点击事件
        $('#newsBtnSearch').click(function () {
            //标题
            var title = $('#title').val();
            var status = $('#status').val();
            table.reload('newsTable', {where: {title: title, status: status}});
        });
        // 工具条点击事件
        table.on('tool(newsTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'audit') { //审核
                var status = data.status;
                if (status == "待审核") {
                    showAuditModel(data);
                    $('#audit').removeClass('layui-hide');
                }
            } else if (obj.event === 'edit') { //修改
                var status = data.status
                if (status != "审核通过") {
                    showEditModel(data);
                    $('#update').removeClass('layui-hide');
                }
            } else if (obj.event === 'del') { // 删除
                doDelete(obj);
            }
        });

        // 删除
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', {
                offset: '65px',
                skin: 'layui-layer-admin'
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('news/' + obj.data.id, {}, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'DELETE');
            });
        }

        // 显示添加或修改弹窗
        function showEditModel(data) {
            admin.open({
                type: 1,
                area: '600px',
                offset: '65px',
                title: '修改新闻',
                content: $('#newsForm').html(),
                success: function () {
                    form.val('newsForm', data);
                    richText.render();//引用富文本
                    //创建一个编辑器
                    var ieditors = layedit.build('layeditDemo');
                    console.log(ieditors);
                    //提交时把值同步到文本域中
                    form.verify({
                        //content富文本域中的lay-verify值
                        content: function (value) {
                            return layedit.sync(ieditors);
                        }
                    });
                    // 表单提交事件
                    form.on('submit(newsFormSubmit)', function (data) {
                        layer.load(2);
                        admin.req('news', data.field, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 1});
                                table.reload('newsTable');
                                layer.closeAll('page');
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'PUT');
                        return false;
                    });
                }
            });
        }

        function showAddModel(data) {
            admin.open({
                type: 1,
                area: '600px',
                offset: '65px',
                title: '添加新闻',
                content: $('#newsForm').html(),
                success: function () {
                    form.val('newsForm', data);
                    richText.render();//引用富文本
                    //创建一个编辑器
                    var ieditors = layedit.build('layeditDemo');
                    console.log(ieditors);
                    //提交时把值同步到文本域中
                    form.verify({
                        //content富文本域中的lay-verify值
                        content: function (value) {
                            return layedit.sync(ieditors);
                        }
                    });
                    // 表单提交事件
                    form.on('submit(newsFormSubmit)', function (data) {
                        layer.load(2);
                        data.field.type=router.search.type;
                        admin.req('news', data.field, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 1});
                                table.reload('newsTable');
                                layer.closeAll('page');
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'POST');
                        return false;
                    });
                }
            });
        }

        //显示审核弹框
        function showAuditModel(data) {
            admin.open({
                type: 1,
                area: '600px',
                offset: '65px',
                title: '审核新闻',
                content: $('#newsForm').html(),
                success: function () {
                    //将输入框设置为只读
                    $('input').prop('readonly', true);
                    $('textarea').prop('readonly', true);
                    form.val('newsForm', data);
                    richText.render();//引用富文本
                    //创建一个编辑器
                    var ieditors = layedit.build('layeditDemo');
                    $("iframe[textarea='layeditDemo']").contents().find('body').attr("contenteditable", false);//编辑器内容框不可编辑
                    console.log(ieditors);
                    //提交时把值同步到文本域中
                    form.verify({
                        content: function (value) {
                            return layedit.sync(ieditors);
                        }
                    });
                    // 表单提交事件
                    form.on('submit(newsSuccess)', function (d) {
                        layer.load(2);
                        admin.req('news/audit', {id: data.id, status: '0'}, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 1});
                                table.reload('newsTable');
                                layer.closeAll('page');
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, data ? 'PUT' : 'POST');
                        return false;
                    });
                    form.on('submit(newsFalse)', function (d) {
                        layer.load(2);
                        admin.req('news/audit', {id: data.id, status: '1'}, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 1});
                                table.reload('newsTable');
                                layer.closeAll('page');
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, data ? 'PUT' : 'POST');
                        return false;
                    });
                },
            });
        }
        // admin.req('news/hasPermission', {'permission':'put:/v1/news/audit'}, function (res) {
        //     if(res){
        //         $('.approve').addClass('hide');
        //     }
        // }, 'get');
    });
</script>